body{display: flex;
flex-direction: column;
margin:0;}

.header {
font-size:24px;
color:White;
background-color: #1f2937;
}

.container{display:flex;
    align-items: center;
justify-content: space-between;
padding:0 135px;
margin:0px 0;}

nav{list-style: none;
display: flex;
gap:50px;
color:#E5eae8;
font-size:18px;}

nav a{color:#E5eae8;
text-decoration: none;}














button{padding:20px 80px;
color:rgb(255, 255, 255, 0.66);
background-color: rgb(31, 153, 33);
border-radius: 10px;
font-weight: bold;
font-size: 25px;
margin:70px;
padding:5px 15px;
font-family: 'Sofia Sans Extra Condensed', sans-serif;
}


.one{font-size: 48px;
    font-family: 'Exo 2', sans-serif;

    padding:0 184px;
    flex-shrink: 0;
    color:#F9FAF8;
/*max-width: 400px;*/
}
    

    .two{padding:36px 186px;
        flex-shrink: 0;
    margin:-70px ;
color:#e5e7eb;
max-width:300px;
font-size:17px;
font-family: 'Cinzel', serif;}

    .button{margin:-99px 103.5px 0;
        padding:10px 0;
        
        
        
    }































ul{display: flex;
gap: 40px;}









