body{display: flex;
flex-direction: column;
margin:0;


}

.header {
font-size:24px;
color:White;
background-color: #1f2937;
}

.container{display:flex;
    align-items: center;
justify-content: space-between;
padding:0 135px;
margin:0px 0;}

ul{list-style: none;
text-decoration: underline;}



button{padding:20px 80px;
color:white;
background-color: blue;
border-radius: 15px;
font-weight: bold;
font-size: 18px;
margin:50px;}


.one{font-size: 48px;
    font-weight:bold;
    padding:0 135px;
    flex-shrink: 1;
color:#F9FAF8;
max-width: 400px;}
    

    .two{
        padding:0 135px;
        flex-shrink: 1;
    margin:-50px;
color:#e5e7eb;
max-width:400px;}

    .button{margin:50px}































ul{display: flex;
gap: 40px;}









